* text=auto eol=lf

# Linguist
*.php linguist-language=PHP
*.yml linguist-language=YAML
*.md linguist-language=Markdown
*.json linguist-language=JSON
*.xml linguist-language=XML
.github/** linguist-generated=true
vendor/** linguist-vendored=true
composer.lock linguist-generated=true

# Archives
/.gitattributes export-ignore
/.gitignore export-ignore
/.php-cs-fixer.php export-ignore
/tests/** export-ignore
phpunit.xml export-ignore
